body {
  background-image: url('sein.jpg');
}

h1 {
    text-align: left;
    font-size: 7em;
    color: rgb(0, 0, 0);
    margin-bottom: .3em;
    text-decoration: underline;

.pilt1 {
    width: 10%;
    height: 10%;
}

.test1 {
    width: 10%;
    height: 10%;
}